.button-btn{
    background-color:rgb(76,50,45);
    padding:25px 0px;
    max-width:100%;
    height:auto;
    text-align:center;
    overflow:hidden;
    margin-top: 0px;
}
.containerFoo{
    padding-top: 100px;
}